<%- include('Header.ejs') %>

<main class="main container">

  <section class="hero" >
   
      <h1>
        <b><%= code %></b>
        <i> <%= title %>: <%= message %> </i>
      </h1>

      <a class="btn" href="/">regresar</a>
      
  </section>

</main>

<%- include('Footer.ejs') %>
